body {
	margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 0 auto;
}

.month-prev {
    background-image: url("../img/arrow.png");
    width: 18px;
    height: 18px;
    transform: rotateZ(180deg);
    background-size: cover;
}

.month-next {
    background-image: url("../img/arrow.png");
    width: 18px;
    height: 18px;
    background-size: cover;
}

.weekdays {
    display: flex;
    text-align: center;
    color: white;
}

.weekday {
    background: green;
    width: 100%;
    padding: 5px 0;
}

.days {
    display: flex;
    flex-wrap: wrap;
}

.day {
    height: 100px;
    width: calc(100% / 7);
    background: purple;
    border: 1px solid red;
    box-sizing: border-box;
}

.current-day {
    background: red;
}