.circle-menu {
	transition: all, .25s;
}

.circle-menu.active {
    transform: rotateZ(360deg);
}

.circle-menu__button {
	background: #454134;
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	z-index: 2;
}

.circle-menu__item {
	background: yellow;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border-radius: 50%;
    transition: all, .25s;
}

.circle-menu__item.active {
	top: -80px;
}

.circle-menu__box {
	width: 35px;
    height: 35px;
    position: absolute;
    left: -5px;
    top: -5px;
}