body {
	margin: 0;
}

.accordion {
	width: 500px;
	margin: 0 auto;
}

.accordion-link {
	padding: 10px 15px;
	border: 1px solid;
}

.accordion-content {
	padding: 10px 15px;
	border: 1px solid;
	display: none;
	background: yellow;
}

.active {
	background: #ccc;
}