body {
	margin: 0;
}

.game {
	width: 400px;
	border: 1px solid;
	margin: 0 auto;
}

.options-player {
	display: flex;
}

.bot {
	border: 1px solid;
	width: 33%;
	height: 132px;
	box-sizing: border-box;
	margin: 0 auto;
	background-size: cover;
}

.player {
	border: 1px solid;
	width: 100%;
	height: 132px;
	box-sizing: border-box;
}

.result {
	display: flex;
	border: 1px solid;
}

.result-box {
    width: 100%;
    text-align: center;
}

.rock {
	background-image: url("../img/rock.png");
	background-size: cover;
}

.papper {
	background-image: url("../img/papper.png");
	background-size: cover;
}

.scissors {
	background-image: url("../img/scissors.png");
	background-size: cover;
}