<!DOCTYPE html>
<html>
<head>
	<title>Vue goods filter</title>
</head>
<body>
<style>
	.box-item {
		width: 100px;
		height: 100px;
		border: 1px solid black;
		display: inline-block;
		text-align: center;
		font-size: 50px;
		font-family: Arial;
		line-height: 100px;
	}
</style>

<div id="app">
	<input type="range" v-model="rangeValue">
	<div class="boxs">
		<box v-for="item in dataArr" :number="item"></box>
	</div>
</div>

<script src="vue.min.js"></script>
<script>
	Vue.component("box", {
		props: ["number"],
		template: "<div class='box-item'>{{ number }}</div>"
	})

	var app = new Vue({
		el: "#app",
		data: {
			rangeValue: 0,
			dataArr: []
		},
		watch: {
			rangeValue: function() {
				this.dataArr = [];

				for(var i = 1; i <= this.rangeValue; i++) {
					this.dataArr.push(i);
				}
			}
		}
	})
</script>
</body>
</html>