.scroll-to-top {
    background: #474747;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    position: fixed;
    right: 70px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}